<div class="menu">
  <a href="/">All categories</a>
  

  {% if user.is_superuser %}
  <a href="/users/logout" class="right">Exit</a>  
  <a href="/admin" class="right">Adminpanel: {{ user.username }}</a>

  {% elif user.is_authenticated %}
  <a href="/main/image_add/">Upload picture</a>
  <a href="/main/image_user/">My pictures</a>
  <a href="/users/logout" class="right">Exit</a>
  <a href="#userpanel" class="right">Login as: {{ user.username }}</a>
  

{% else %}
  <a href="/users/login" class="right">Login</a>
  <a href="/users/register" class="right">Register</a>
  
{% endif %}
</div>
